<%= link_to 'Show', [@adventure.issue, @adventure], class: 'btn btn-default' %>
<%= link_to 'Back', issue_path(@adventure.issue), class: 'btn btn-default' %>

<h1>Editing Adventure</h1>

<%= render 'form' %>
