@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'mixins';
@import url('//fonts.googleapis.com/css?family=Pirata+One|Uncial+Antiqua');

body {
  margin-top: 70px;
}

.navbar-brand {
  font-family: 'Pirata One', cursive;
}

.issues {
  @extend .list-inline;
  li {
    @include border-radius(5px);
    border: 1px solid #ccc;
    & > div {
      height: 150px;
      width: 150px;
      position: relative;
      padding: 12px 9px;
      & > h1 {
        @extend .pull-left;
        font-family: 'Pirata One', cursive;
        font-size: 20px;
        padding: 0;
        margin: 0;
        & > a {
          color: inherit;
        }
      }
      & > div.date {
        @extend .pull-right;
        @extend .text-muted;
        @extend small;
      }
      & > div.footer {
        @extend small;
        text-align: right;
        position: absolute;
        bottom: 9px;
        right: 12px;
      }
    }
  }
}

h2 {
  font-family: 'Pirata One', cursive;
}
